@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font: 300 1rem 'Roboto', sans-serif;
}

body{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.header{
    background-color: #0082FF;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header img{
    max-height: 11vh;
}

.body{
    background-color: #fff;
    margin-top: 3vw;
    width: 50vw;
    border-radius: 13px;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.content-icon{
    text-align: center;
    color: #E6E6E6;
}

.content-title{
    text-align: center;
    margin-top: 5vh;
}

.content-title h2{
    font-size: 1rem;
}

.content-text{
    text-align: center;
    margin-top: 6vh;
}

.content-text p{
    font-size: 0.9rem;
}

.content-text div{
    margin-top: 5vh;
}

.content-text div p:nth-child(2){
    font: 500 0.9rem 'Roboto', sans-serif;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 90%;
}

.content-social-media{
    text-align: center;
    margin-top: 3vh;
}

.content-social-media p{
    font-size: 0.6rem;
    margin-bottom: 12px;
}

.content-social-media div a img{
    max-height: 7vh;
}

.content-social-media div a{
    text-decoration: none;
}

.content-social-media div a:nth-child(1){
    margin-right: 15px;
}

.container hr{
    margin-top: 5vh;
}

@media screen and (max-width: 780px){
    .body{
        width: 90vw;
    }
}